

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player{
  background: #fff;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 5%;
}

.info{
  margin-bottom: 15px;
}

.song-img{
  width: 300px;
  height: 300px;
  background-image: url('https://images.genius.com/0ae965f321d9c298ebc9cf56260cc7eb.1000x1000x1.jpg');
  background-size: cover;
  border-radius: 5%;
  border: 5px solid #ccc;
  margin: 15px auto;
}

#progress{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #39aae2;
  opacity: 0.5;
  cursor: pointer;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: #0d1825;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.control{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.btn{
  font-size: 36px;
  cursor: pointer;
}

