:root{
  --white-color: #fff;
  --black-color: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body{
  height: 100%;
}

/* app container */
.app{
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  padding: 10px;
  color: var(--white-color);
  font-size: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
  grid-template-rows: 1fr auto;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: 
  "left-sidebar main right-sidebar"
  "playingbar playingbar playingbar"
}

/* box */
.box{
  background-color: #1c1c1c;
  border-radius: 15px;
}
/* scroll container for: playlist, home, search, ... */
.scroll-container{
  height: 100%;
  overflow: auto;
  /* be able to scroll the contents if they expand out of container */
}

.scroll-container::-webkit-scrollbar{
  display: none;
}

/* Left sidebar */
.left-sidebar{
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 10px;
  grid-area: left-sidebar;
}

/* Menu */
.left-sidebar-list{
  list-style: none;
  padding: 15px 15px;
}

.left-sidebar-item{
  padding: 4px 10px;
}

.left-sidebar-item-link{
  color: var(--white-color);
  text-decoration: none;
}

.left-sidebar-icon{
  margin-right: 20px;
}
/* Playlist */
.playlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* hide the contents that expand out of container */
}

.music-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.music-items{
  border-radius: 5px;
  width: 96%;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  gap: 8px;
}

.music-items:hover{
  background-color: var(--black-color);
}

.music-items .item-img{
  width: 48px;
  height: 48px;
  background-image: url('https://github.com/fantastichaha11/storage/blob/main/image/1.jpg?raw=true');
  background-size: cover;
  border-radius: 5%;
}

.music-items .item-info{
  font-size: 16px;
}

/* Main side */
.main{
  grid-area: main;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* Header */
.main-nav{
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.main-nav-left, 
.main-nav-right{
  gap: 8px;
  display: flex;
  justify-content: space-between;
}

.circle{
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .circle:hover{
  height: 32px;
  width: 32px;
}

.header-icon{
  font-size: 20px;
  color: var(--white-color);
}
/* Main container */
/* For music player */
.main-player{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-player .song-img{
  width: 50%;
  padding-bottom: 50%;
  background-image: url('https://github.com/fantastichaha11/storage/blob/main/image/1.jpg?raw=true');
  background-size: cover;
  border-radius: 5%;
}

.main-player .song-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-player .song-info .song-name{
  font-size: 24px;
}

/* Right side */
.right-sidebar{
  grid-area: right-sidebar;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.right-sidebar-nav{
  padding: 20px 20px;
}


/* Playing music bar (footer) */
.playingbar{
  grid-area: playingbar;
  height: 100px;
  display: flex;
}

.playingbar-icon{
  font-size: 16px;
}

.playingbar-main{
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.playingbar-left,
.playingbar-right{
  flex: 3;
}

.playingbar-main #progress{
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: #39aae2;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: #0d1825;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.playingbar-main .control{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.btn {
  cursor: pointer;
}

.fa-pause{
  font-size: 19px;
}

.timer{
  width: 80%;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
}  

