
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body{
  height: 100vh;
  width: 100%;
  background-image: url(../image/background.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: flex;
}

.header, .song_side, .toplist, .acc{
  position: relative;
  overflow: auto;
  margin-top: 10px;
  margin-left: 10px;
  width: 25%;
  height: 22%;
  background-color: rgba(82, 73, 73, 0.5);
  border-radius: 10px;
}
.acc{
  position: absolute;
  margin-top: 12%;
  height: 59%;

}
.song_side{
  position: fixed;
  border-radius: 0px;
  margin: 0;
  width: 100%;
  height: 12%;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.toplist{
  position: absolute;
  margin-left: 74%;
  height: 83%;
}

.bar{
  list-style-type: none;
  overflow: hidden;
}

.bar_item a{
  color: rgb(152, 144, 144);
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 8px 0 0 20px;
  margin-left: 50px;
}

.bar_item a:hover{
  color: white;
}

.icons{
   position: absolute;
   margin-left: -40px;
   margin-top: 3px;
}


.youracc{
  margin: 5px 5px 0 5px;
  color: rgb(30, 28, 28);
  background-color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 30px;
  border-radius: 10px;
}

.upandin{
  display: flex;
}

.acc .upandin .signup a, .login a{
  color: rgb(152, 144, 144);
  text-decoration: none;
  font-size: 20px;
  display: block;
  position: absolute;
  margin-top: 20px;
}

.acc .upandin .signup a{
  background-color: rgb(45, 52, 145);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.acc .upandin .login a:hover{
  color: white;
}

.acc .upandin .login a{
  margin-left: 60%;
  margin-top: 30px;
}

.acc .upandin .signup a:hover{
  background-color: rgb(45, 52, 145);
  border-radius: 10px;
  color: aliceblue;
  margin: 10px 10px 10px 10px;
  padding: 15px 30px 20px 25px;
}

.music{
 margin-left: 8%;
 margin-top: 20px;
}
.music-player{
  background: rgba(101, 82, 82, 0.95);
  width: 400px;
  padding: 25px 35px;
  text-align: center;
  border-radius: 5%;
  box-shadow: rgba(213, 206, 206, 0.95);
}

.info{
  margin-bottom: 15px;
}

.song-img{
  width: 300px;
  height: 300px;
  background-image: url('https://github.com/fantastichaha11/storage/blob/main/image/1.jpg?raw=true');
  background-size: cover;
  border-radius: 5%;
  border: 5px solid #ccc;
  margin: 15px auto;
}


.song_side #progress{
  -webkit-appearance: none;
  width: 40%;
  height: 5px;
  background: #39aae2;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  margin-left: 30%;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: #0d1825;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.song_side .control{
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin-left: 45%;
  margin-top: 20px;
}

.btn {
  cursor: pointer;
}

.timer{
  flex-wrap: wrap;
  position: absolute;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 12%;
  color: #f2f8fa;
  align-items: center;
  margin-top: 46px;
}

.time_start{
  margin-left: 45px;
}

.time_end{
  margin-right: 45px;
}