:root{
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #1c1c1c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body{
  height: 100%;
}

/* app container */
.app{
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  padding: 10px;
  color: var(--white-color);
  font-size: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 3fr 7fr 3fr;
  grid-template-rows: 1fr auto;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: 
  "left-sidebar main right-sidebar"
  "playingbar playingbar playingbar"
}

/* box */
.box{
  background-color: #1c1c1c;
  border-radius: 5px;
}
/* scroll container for: playlist, home, search, ... */
.scroll-container{
  height: max-content;
  overflow: auto;
  scrollbar-color: var(--white-color) transparent;
  scrollbar-width: thin;
  /* be able to scroll the contents if they expand out of container */
}

.right-sidebar .scroll-container::-webkit-scrollbar{
  display: none;
}

/* Left sidebar */
.left-sidebar{
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 10px;
  grid-area: left-sidebar;
}

/* Menu */
.left-sidebar-list{
  list-style: none;
  padding: 15px 15px;
}

.left-sidebar-item{
  padding: 4px 10px;
}

.left-sidebar-item-link{
  color: var(--white-color);
  text-decoration: none;
}

.left-sidebar-icon{
  margin-right: 20px;
}
/* Playlist */
.playlist{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* hide the contents that expand out of container */
}

.music-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.music-items{
  border-radius: 5px;
  width: 96%;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  gap: 8px;
  cursor: pointer;
}

.music-items:hover{
  background-color: var(--black-color);
}

.music-items .item-img{
  width: 48px;
  height: 48px;
  background-image: url('https://github.com/fantastichaha11/storage/blob/main/image/1.jpg?raw=true');
  background-size: cover;
  border-radius: 5%;
}

.music-items .item-info{
  font-size: 16px;
}

/* Main side */
.main{
  grid-area: main;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main .scroll-container{
  height: max-content;
}
/* Header */
.main-nav{
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-left, 
.main-nav-right{
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle{
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header-icon{
  font-size: 20px;
  color: var(--white-color);
}

.search-bar{
  width: max-content;
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 28px;
  background-color: var(--black-color);
}

.search-bar .header-icon{
  font-size: 12px;
  padding-right: 14px;
}

.search-bar .search-box{
  min-width: 300px;
  /* font-size: 14px; */
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--white-color);
}

.home{
  display: flex;
}


.home .music-list{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 10px;
}

.home .music-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  box-sizing: content-box;
}

.home .music-items .item-img{
  width: 150px;
  height: 150px;
}

.home .music-items .item-info{
  font-size: 20px;
}

/* Right side */
.right-sidebar{
  grid-area: right-sidebar;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.right-sidebar-nav{
  padding: 20px 20px;
}


/* Playing music bar (footer) */
.playingbar{
  grid-area: playingbar;
  height: 72px;
  display: flex;
}

.playingbar-icon{
  font-size: 16px;
}

.playingbar-main{
  flex: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playingbar-left,
.playingbar-right{
  flex: 3;
}

.playingbar input{
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: var(--gray-color);
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.playingbar input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: var(--white-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -400px 0 0 400px #39aae2;
}

.playingbar-main .control{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.btn {
  cursor: pointer;
}

.fa-pause{
  font-size: 19px;
}

.timer{
  width: 80%;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
}  

/* Left footer */
/* For music player */
.playingbar-left{
  display: flex;
  align-items: center;
}

.player{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.player .song-img{
  width: 60px;
  height: 60px;
  background-image: url('https://github.com/fantastichaha11/storage/blob/main/image/1.jpg?raw=true');
  background-size: cover;
  border-radius: 5px;
}

.player .song-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.player .song-info .song-name{
  font-size: 20px;
}

.hide {
  display: none;
}

.playingbar-right{
  display: flex;
  justify-content: center;
}

.volume{
  display: flex;
  align-items: center;
}

.volume #volume-icon{
  font-size: 16px;
  margin-right: 5px;
}

.popup{
  color: var(--white-color);
}

.popup .overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup .addPlaylist{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--black-color);
  width: 450px;
  height: 450px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.popup .addPlaylist .header-popup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup .addPlaylist .header-popup .title{
  padding: 10px;
  font-size: 24px;
}

.popup .addPlaylist .header-popup .circle{
  background: var(--gray-color);
  margin-right: 10px;
}

.popup .addPlaylist .create-playlist {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 5px;
  width: 96%;
  padding: 8px 8px;
  border: solid 1px var(--black-color);
}

.popup .addPlaylist .create-playlist:hover{
  border: solid 1px var(--white-color);
}

.popup .addPlaylist .create-playlist .square{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: var(--gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .addPlaylist .create-playlist .title{
  font-size: 16px;
}

.popup .music-items{
  border: solid 1px var(--black-color);
}

.popup .music-items:hover{
  border: solid 1px var(--white-color);
}